/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #404540;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #414341;
}

button {
    padding: 12px;
    background-color: #3d403d;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #444944;
}

p {
    font-size: 14px;
    color: #555;
}

.error {
    background-color: #5d0600;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.success {
    background-color: #404340;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

a {
    color: #393d39;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for the 'Don't have an account?' text */
.container p {
    margin-top: 20px;
}

@media (max-width: 500px) {
    .container {
        padding: 30px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="text"], input[type="password"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
}
